
h1{
    font-weight: bold;
    text-align: center;
    font-family: "Playfair Display", serif;
}
p{
    text-align: center;
    font-weight: normal;
    font-family: "Poppins", serif;
}
i{
    text-align: center;
}
h2{
    text-align: center;
}